.Row {
  /* hauteur des lignes fixes*/
  height: 115px;
}

.labelTitre{
  color :#4747d1;
  font-weight: bold;
}

.desc{
  text-align: justify ;
  font-size: 16px;
  line-height: 150%;
}
.Resume {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
